@import url('https://fonts.googleapis.com/css?family=Barrio|Montserrat:700');

mark { 
  background-color: yellow;
  color: black;
}

.wrap{
  word-wrap: break-word;
}

.centered {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.split {
    width: 100%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .top {
    top: 0;
    width: 50%;
    height: 90%;
  }

  .down {
    bottom: 0;
    height: 20%;
    width: 100%;
  }

  .left {
  left: 0;
}

.right {
  right: 0;
}
  
  .link1{
      left: 100px;
  }
  
  button {
    font-family: "Montserrat", sans-serif;
    left: 30%;
    top: 100%;
    height: 50px;
    width: 300px;
    margin: auto;
    padding: 1rem;
    text-transform: uppercase;
    color: #fafafa;
    background-color: #62b8f1;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.4);
    transition: 0.3s all ease;
    letter-spacing: 0.1rem;
    font-size: 0.85rem;
    position: relative;
    right: 0;
  }
  button:after, button:before {
    position: absolute;
    font-family: "Barrio", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: rgba(245, 245, 245, 0.904);
    transition: 0.3s all ease;
  }
  button:before {
    content: "_";
    position: absolute;
    left: 1.4rem;
    top: 0.9rem;
  }
  button:after {
    content: ">";
    position: absolute;
    left: 0.8rem;
    top: 1rem;
  }
  button:hover {
    box-shadow: 1px 1px 20px rgba(150, 150, 150, 0.2);
    top: -0.1rem;
    right: -0.1rem;
    cursor: pointer;
  }
  button:hover:before {
    content: "_";
    position: absolute;
    left: 0.8rem;
    top: 0.7rem;
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
  button:after {
    content: ">";
    position: absolute;
    left: 1.1rem;
    top: 1rem;
  }

  .heading{
    -webkit-text-fill-color: black;
  }

   .Padding{
        position: absolute;
        top: 15%;
        left: 35%;
   }
   .Padding1{
        position: absolute;
        top: 25%;
        left: 35%;
   }
   .Padding2{
        position: absolute;
        top: 35%;
        left: 35%;
   }
   .Padding3{
        position: absolute;
        top: 45%;
        left: 35%;
   }

   .Padding4{
    position: absolute;
    top: 55%;
    left: 35%;
}
  /*for animated background*/

  @import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
    width: 100%;
    height: 100%;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;

}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #fff;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height:100vh;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #b2e7ff;
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/* Loader CSS */

.gooey {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: contrast(20);
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
.gooey .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  filter: blur(4px);
  background: #fff;
  border-radius: 50%;
  transform: translateX(0);
  animation: dot 2.8s infinite;
}
.gooey .dots {
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  animation: dots 2.8s infinite;
}
.gooey .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  filter: blur(4px);
  background: #fff;
  border-radius: 50%;
}
@-moz-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@-webkit-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@-o-keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@-moz-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
@-webkit-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
@-o-keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
@keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
