@import url('https://fonts.googleapis.com/css?family=Barrio|Montserrat:700');

mark { 
  background-color: yellow;
  color: black;
}

.mark1 { 
  background-color: rgb(255, 187, 0);
  color: black;
}

.area_left{
	position: absolute;
	left: 5px;
    width: 50%;
}

.area_right{
	position: absolute;
	right: 5px;
  width: 47%;
}

.upper_element{
  position: relative;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  left: 5px;
}

.container_div{
  position: relative;
}

.left_file_cont{
  position: sticky; 
  background-color: white; 
  top: 0px; 
  left: 0px; 
  width: 100%;
  height: 8%;
}


.div_custom{
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: darkgrey;
  height: 500px;
  overflow-x: hidden;
  position: absolute;
}

.wrap{
  word-wrap: break-word;
}

.lower_container{
  position: absolute;
  bottom: 10%;
  width: 100%;
}
