<html>
<head>
  <title>Optical Character Recognition</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Optical Character Recognition</h1>
    <div class="input">

        <form action="{% url 'index:ocr_file_path' %}" method="post">
            {% csrf_token %}
            File name: <input type="text" name="fname" value="{{ file_path }}"><br>

            <button type="submit" value="Upload"></button>
        </form>
    </div>

    {% if error == "Enter Path!" %}
    <div class="alert alert-warning" >
        <strong>Warning!</strong> Please Enter Path.
    </div>

    {% elif error == "Not Valid Path" %}
    <div class="alert alert-warning" >
        <strong>Warning!</strong> Please enter a valid path.
    </div>

    {% elif error == "Fully Executed" %}
    <div class="alert alert-success">
        <strong>Success!</strong> Files has successfully been OCR'd.
    </div>

    {% endif %}

</div>
</body>

</html>